header {
    margin: 0px;
    padding: 150px;
    background-color: #D6D6D6;


}
body {
    margin: 0;

}
#landingPage{
    height: 50vh;
    width: 100%;
    background-image: url(images/Gev-The-Dev-Banner.jpg);
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.headerTitle{
    height: 100%;
    width: 100%;
    background-image: url(images/TitleGevtheDev.png);
    background-size: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}

#MenueHolder {
    position: absolute;
    top: 5%;
    display: flex;

    height: 100px;
    justify-content: space-between; 
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navButton {
    flex-basis: 20%;
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-family: "Helvetica";
    font-size: 28px;
    flex: 1;
}

.navButton:hover {
    height: 1px;
    width: auto;
    background-color: white; 
    transition: all 200ms ease-in-out;
    cursor: pointer;
 
}

.navButton.active {
    height: 1px;
    width: auto;
    background-color: white;  
}

.navButton:hover:not(.active) {
    height: 1px;
    width: auto;
    background-color: white; 

}



#Tutorials {
    background-color: rgb(223, 223, 223);
    width: 100%;
    min-height: 450px;
    padding-bottom: 75px;
}

.TutorialsGallery{
    justify-content: left;
    align-items: left;
}

.TGitem {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
    transition: all 200ms ease-in-out;
}
    
.TGitem:hover {
    border: 1px solid #777;
    cursor: pointer;

}
    
.TGitem img {
    width: 100%;
    height: auto;
}
    
.TGitem {
    padding: 15px;
    text-align: left;
}


.TutorialsHeader{
    font-family: "Helvetica";
    text-align: left;
    font-size: 75px;
    align-items: center;
    padding: 75px;
    
}

footer{
    padding: 10px 0;
    display: flex;
    align-items: center;
    position: relative;
    height: 10px;
    width: 100%;
    background: -webkit-linear-gradient(rgb(212, 212, 212), rgb(153, 153, 153)); 
    background: -o-linear-gradient(rgb(212, 212, 212), rgb(153, 153, 153)); 
    background: -moz-linear-gradient(rgb(212, 212, 212), rgb(153, 153, 153)); 
    background: linear-gradient(rgb(212, 212, 212), rgb(153, 153, 153));

}

#copyright{
    position: absolute;
    margin: 0;
    color: rgb(223, 223, 223);
    right: 7px;
    font-size: 12px;
}

#aboutMe{
    height: 50vh;
    width: 100%;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    

}

.aboutMeTitle{
    font-size: 50px;
    font-family: "Helvetica";
    margin: 0 15%;
}

.aboutMeContent{
    font-size: 25px;
    font-family: "Helvetica";
    margin: 0 15%;
}
